// https://material.io/develop/web/components/typography
@use '@material/typography/mdc-typography';

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Source+Sans+Pro:wght@300;400;600&display=swap');

:root {
	--mdc-typography-font-family: Source Sans Pro, Roboto, sans-serif;
}
