@use './theme';
@use './components/mdc/Button' with (
  $radius: 16px
);
@use './components/mdc/TextInput' with (
  $radius: 16px
);

/* https://google.github.io/material-design-icons/#sizing */
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
} /* this is the default from https://fonts.googleapis.com/icon?family=Material+Icons */
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}
