// https://material.io/develop/web/docs/theming

:root {
  --mdc-theme-primary: #00A7E1;
  --mdc-theme-primary-variant: #0078AF;
  --mdc-theme-secondary: #FF4800;
  --mdc-theme-error: #C30000;
  --progress-bar-color: #005CB9;
}

.mdc-theme--primary-variant {
  color: var(--mdc-theme-primary-variant);
}
